---
layout: default
language: fr
handle: /blog.html
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.b_title[page.language] }}</h2>
    </div>
</section>
<section id="main" class="wrapper style1">
    {% for post in site.categories.fr %}
        <div class="wrapper {% cycle 'style1', 'style2' %}">
            <header class="major">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            </header>
            <section class="container">
				{{ post.image }}
			</section>
			<section class="container">
                {{ post.excerpt }}
            </section>
            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', 'alt'%}">{{ site.b_readmore[page.language] }}</a></li>
                </ul>
            </section>
        </div>
    {% endfor %}
</section>
