<!DOCTYPE html>
<html>

    {% include /head.html %}

	<body id="top">

        {% include /header.html %}
<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>{{ page.title }}</h2>
    </header>
    <div class="container">
        <section>
        {{ content }}
        </section>
    </div>
        {% include /footer.html %}

</section>

    </body>

</html>
