<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Karaoke Mugen</h2>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{% if page.language == "en" %}/en{% endif %}/download.html" class="button big special">{{ site.g_download[page.language] }}</a></li>
                    <li><a href="https://docs.karaokes.moe/{% if page.language == "fr" %}/fr{% endif %}/user-guide/install" class="button big alt">{{ site.g_install[page.language] }}</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
